{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "filenames", "jest", "jsdoc", "prettier"],
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:jsdoc/recommended",
    "plugin:unicorn/recommended"
  ],
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "no-global-assign": ["error", { "exceptions": ["console"] }]
  },
  "overrides": [
    {
      "files": ["packages/**/__tests__/**/*.ts", "packages/test-helpers/**/*.ts"],
      "env": {
        "jest": true
      }
    }
  ]
}
