{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "filenames", "jest", "prettier"],
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:node/recommended",
    "plugin:unicorn/recommended"
  ],
  "settings": {
    "node": {
      "tryExtensions": [".js", ".json", ".d.ts", ".ts"],

      "convertPath": [
        {
          "include": ["packages/**/src/**/*.ts"],
          "replace": ["^packages/(.+)/src/(.+)\\.ts$", "lib/$1.js"]
        }
      ]
    }
  },
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars-experimental": "error",
    "no-global-assign": ["error", { "exceptions": ["console"] }],
    "unicorn/no-reduce": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/import-style": "off",
    "unicorn/no-fn-reference-in-iterator": "off",
    "unicorn/no-process-exit": "off",
    "node/no-unsupported-features/es-syntax": ["error", { "ignores": ["modules"] }],
    "node/no-extraneous-import": ["error"],
    "node/no-missing-import": [
      "error",
      {
        "allowModules": ["@checkup/core", "@checkup/test-helpers", "sarif"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["packages/**/__tests__/**/*.ts", "packages/test-helpers/**/*.ts"],
      "env": {
        "jest": true
      },
      "rules": {
        "node/no-extraneous-import": "off"
      }
    },
    {
      "files": ["packages/checkup-plugin-ember/src/**/*.ts", "packages/cli/src/**/*.ts"],
      "rules": {
        "node/no-extraneous-import": [
          "error",
          {
            "allowModules": ["type-fest"]
          }
        ]
      }
    },
    {
      "files": ["packages/checkup-plugin-javascript/src/**/*.ts"],
      "rules": {
        "node/no-extraneous-import": [
          "error",
          {
            "allowModules": ["@babel/types", "ast-types", "type-fest"]
          }
        ]
      }
    },
    {
      "files": ["packages/checkup-plugin-ember/__tests__/eslint-rule-tests/test-types.test.js"],
      "rules": {
        "node/no-extraneous-require": [
          "error",
          {
            "allowModules": ["eslint"]
          }
        ]
      }
    },
    {
      "files": ["packages/core/src/**/*.ts"],
      "rules": {
        "node/no-extraneous-import": [
          "error",
          {
            "allowModules": ["@babel/types", "@babel/traverse"]
          }
        ]
      }
    }
  ]
}
